


<div class="container mt-3">

  <div class="card-trip">
    <%= image_tag "http://source.unsplash.com/featured/?#{@restaurant.category}>&#{rand(1000)}"%>
    <div class="card-trip-infos">
      <h2><%= @restaurant.name %></h2>
      <p><%= @restaurant.address %></p>
      <p><%= @restaurant.phone_number %></p>
    </div>
  </div>

  <div class="container align-items-center">
      <p><strong>Reviews</strong></p>
      <ul class="list-group">
        <% @restaurant.reviews.each do |review| %>

          <li class="list-group-item">
            <div>
              <%= review.content %>
              <p><%= '*' * review.rating %>
            </div>
            <p><%= link_to 'x', review_path(review), data: { turbo_method: :delete, turbo_confirm: 'Remove review?'}  %></p>
          </li>
        <% end %>
      </ul>
      <br>
      <%= link_to 'Add Review', new_restaurant_review_path(@restaurant), class: 'btn btn-dark'  %>
  </div>
</div>
